header {
    background-color: white;
    filter: drop-shadow(0 0 0.3rem grey);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-title {
    display: inline-block;
    width: 50px;
    font-size: 30px;
}

body {
    margin: 0px;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h1 h2 h3 h4 h5 p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
